.App{
  display: flex;
  justify-content: center;
  align-items: center;

  /* min-height: 100vh; */
}

.container{
  margin-top: 80px;
}

input[type="radio"]{
  display: none;
}

.box{
  cursor: pointer;
  transition: color 200ms;
}

.class1{
  color: red;
}
.class2{
  color: orange;
}
.class3{
  color: yellow;
}
.class4{
  color: green;
}
.class5{
  color: olive;
}

/* p{
  font-size: 8px;
} */
